@import url("https://use.typekit.net/rdu7bbk.css");
.home_main {
  .home_container {
    &_image {
      .slide_image {
        display: flex;
        align-items: center;
        justify-content: center;
        .slide_caption {
          color: rgb(221, 203, 203);
          font-size: xx-large;
          button {
            cursor: pointer;
            color: #272626;
            font-weight: 600;
            font-style: normal;
            font-family: proxima-nova;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            background-color: rgba(247, 209, 38, 0.84);
            border-radius: 300px;
            font-size: 20px;
            border: none;
          }
        }
      }
    }
    &_hours {
      p {
        padding: 0 50px 0 20px;
        font-weight: 400;
        font-family: adobe-garamond-pro;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 1.6em;
        text-align: center;
      }
    }
    &_content {
      display: flex;
      margin: 20px 10px 0 50px;
      &_left {
        flex: 1;
      }
      &_right {
        flex: 1;
        &-box {
          font-family: adobe-garamond-pro;
          font-weight: 400px;
          font-size: 20px;
          line-height: 1.6em;
          font-size: normal;
          letter-spacing: 0px;
          color: rgba(26, 26, 26, 0.7);
        }
      }
    }
  }
}
